<a href="https://colab.research.google.com/github/Harsh-verma0426/Python_Lab/blob/main/Python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# int datatype
a = 1
b = -200
c = 30000
print("a =",a)
print("b =",b)
print("c =",c)

a = 1
b = -200
c = 30000

In [ ]:
# float datatype
a = 1.23
b = 4.567
c = 5.8976
print("a =",a)
print("b =",b)
print("c =",c)

a = 1.23
b = 4.567
c = 5.8976

In [ ]:
# string datatype
a = "A"
b = "Python"
c = "A Python Code"
print("a =",a)
print("b =",b)
print("c =",c)

a = A
b = Python
c = A Python Code

In [ ]:
# boolean datatype
a = True
b = False
print("a =",a)
print("b =",b)

a = True
b = False

In [ ]:
Location, Flight_Number = "Switzerland", "GEN300"
print(Location,Flight_Number)

Switzerland GEN300

In [ ]:
Location = Place = Destination = "Switzerland"
print(Location,Place,Destination)

Switzerland Switzerland Switzerland

In [ ]:
Location = "New York"
Tourist_spot = Location + " " + str(5)
print(Tourist_spot)

New York 5

In [ ]:
Location = "New York"
print(Location)
del Location
print("Location variable is deleted")
print(Location)

New York
Location variable is deleted

NameError: name 'Location' is not defined

In [ ]:
Name  = "John"
print(Name)
print(type(Name))

John
<class 'str'>

In [ ]:
Num = 20
print(Num)
print(type(Num))

20
<class 'int'>

In [ ]:
deci = 20.5
print(deci)
print(type(deci))

20.5
<class 'float'>

In [ ]:
boolean = True
print(boolean)
print(type(boolean))

True
<class 'bool'>

In [ ]:
var = None

In [ ]:
a = 4
b = 5
# Equal
print("a == b",a == b)
# Not Equal
print("a != b",a != b)
# Greater Than
print("a > b",a > b)
# Less Than
print("a < b",a < b)
# Greater Than or Equal to
print("a >= b",a >= b)
# Less Than or Equal to
print("a <= b",a <= b)

a == b False
a != b True
a > b False
a < b True
a >= b False
a <= b True

In [ ]:
a = 60 # 60 = 0011 1100
b = 13 # 13 = 0000 1101
# Binary AND
c = a & b # 12 = 0000 1100
print("a & b: ",c)
# Binary OR
c = a | b # 61 = 0011 1101
print("a | b: ",c)
# Binary XOR
c = a ^ b # 49 = 0011 0001
print("a ^ b: ",c)
# Binary Ones Complement
c = ~a # -61 = 1100 0011
print("~a: ",c)
# Binary Left Shift
c = a << 2 # 240 = 1111 0000
print("a << 2: ",c)
# Binary Right Shift
c = a >> 2 #
print("a >> 2: ",c)

a & b:  12
a | b:  61
a ^ b:  49
~a:  -61
a << 2:  240
a >> 2:  15

In [ ]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# identity operator
x1 = 5
y1 = 5
x2 = "Hello"
y2 = "Hello"
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is not y1) # prints False
print(x2 is y2) # prints True
print(x3 is y3) # prints False

False
True
False

In [ ]:
message = "Welcome to Python Programming"
# checks if "Python" is present in message
print("Python" in message) # prints True
#checks if "Python" is not present in message
print("Python" not in message) # prints False

True
False

In [ ]:
# Question 1

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print(f"Sum of {a}, and {b}, is {a+b}")
print(f"Difference between {a}, and {b}, is {a-b}")
print(f"Multiplicaton of {a}, and {b}, is {a*b}")
print(f"Quotient of {a}, and {b}, is {a/b}")
print(f"Remainder of {a}, and {b}, is {a%b}")
print(f"Power of {a}, and {b}, is {a**b}")
print(f"Floor division of {a}, and {b}, is {a//b}")

Enter first number: 5
Enter second number: 2
Sum of 5, and 2, is 7
Difference between 5, and 2, is 3
Multiplicaton of 5, and 2, is 10
Quotient of 5, and 2, is 2.5
Remainder of 5, and 2, is 1
Power of 5, and 2, is 25
Floor division of 5, and 2, is 2

In [ ]:
# Question 2 PART 1

radius = int(input("Enter radius of circle: "))
print(f"Area of circle with radius {radius} is {3.14*radius*radius}")

Enter radius of circle: 23
Area of circle with radius 23 is 1661.06

In [ ]:
# Question 2 PART 2

height = int(input("Enter height of triangle: "))
base = int(input("Enter base of triangle: "))
print(f"Area of triangle with height {height} and base {base} is {0.5*height*base}")

Enter height of triangle: 5
Enter base of triangle: 4
Area of triangle with height 5 and base 4 is 10.0

In [ ]:
# Question 2 PART 3

lenght = int(input("Enter length of rectangle: "))
width = int(input("Enter width of rectangle: "))
print(f"Area of rectangle with length {lenght} and width {width} is {lenght*width}")

Enter length of rectangle: 12
Enter width of rectangle: 4
Area of rectangle with length 12 and width 4 is 48

In [ ]:
# Question 3

price_of_food1 = int(input("Enter price of food1: "))
price_of_food2 = int(input("Enter price of food2: "))
price_of_food3 = int(input("Enter price of food3: "))
Total_price = price_of_food1 + price_of_food2 + price_of_food3
Total_price_with_gst = Total_price + (Total_price*0.05)
print(f'''\nPrice of food1 is ${price_of_food1},
Price of food2 is ${price_of_food2},
Price of food3 is ${price_of_food3},
and Total price with GST is {Total_price_with_gst}''')

Enter price of food1: 45
Enter price of food2: 18
Enter price of food3: 42

Price of food1 is $45,
Price of food2 is $18,
Price of food3 is $42,
and Total price with GST is 110.25

In [ ]:
# Question 4

temp = int(input("Enter the temperature in celsius: "))
fahren = (temp * 9/5) + 32
print(f"Temperature in fahrenheit is {fahren}")

Enter the temperature in celsius: 0
Temperature in fahrenheit is 32.0

In [ ]:
# Question 5

a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))
print("Before swapping")
print("a =",a)
print("b =",b)
a = a^b
b = a^b
a = a^b
print("\nAfter swapping")
print("a =",a)
print("b =",b)

Enter number 1: 10
Enter number 2: 5
Before swapping
a = 10
b = 5

After swapping
a = 5
b = 10

In [ ]:
# Question 6

principle = int(input("Enter principle: "))
rate = int(input("Enter rate: "))
time = int(input("Enter time: "))
simple_interest = (principle*rate*time)/100
amount = principle + simple_interest
print(f"Simple interest is {simple_interest}")
print(f"Amount is {amount}")

Enter principle: 9999999999
Enter rate: 50
Enter time: 1
Simple interest is 4999999999.5
Amount is 14999999998.5

In [ ]:
# Question 7

sub1 = int(input("Enter marks of subject 1: "))
sub2 = int(input("Enter marks of subject 2: "))
sub3 = int(input("Enter marks of subject 3: "))
sub4 = int(input("Enter marks of subject 4: "))
sub5 = int(input("Enter marks of subject 5: "))
total_marks = sub1 + sub2 + sub3 + sub4 + sub5
average = total_marks/5
percentage = (total_marks/500)*100
print(f"Total marks is {total_marks}")
print(f"Average marks is {average}")
print(f"Percentage is {percentage}")

Enter marks of subject 1: 78
Enter marks of subject 2: 64
Enter marks of subject 3: 12
Enter marks of subject 4: 72
Enter marks of subject 5: 91
Total marks is 317
Average marks is 63.4
Percentage is 63.4

In [ ]:
8

z = complex(input("Enter a complex number (example 3+4j): "))
print(f"Real part is {z.real}")
print(f"Imaginary part is {z.imag}")

Enter a complex number (example 3+4j): 3+6j
Real part is 3.0
Imaginary part is 6.0

In [ ]:
# Question 9

days = float(input("Enter number of days: "))
weeks = days//7
remain_days = days%7
print(f"{int(days)} days is equal to {int(weeks)} weeks and {int(remain_days)} days")

Enter number of days: 22
22 days is equal to 3 weeks and 1 days

In [ ]:
# Question 10

Bill = int(input("Enter total bill amount: "))
friends = int(input("Enter number of friends: "))
split_bill = Bill//friends
remain_amount = Bill%friends
print(f"Each person or friend should pay ${split_bill}")
print(f"Remaining amount is ${round(remain_amount,2)}")

Enter total bill amount: 401
Enter number of friends: 4
Each person or friend should pay $100
Remaining amount is $1

# 08/09/25

In [ ]:
if 10>5:
    print('10 is greater than 5')

print('Program ended')

10 is greater than 5
Program ended

In [ ]:
x =3
if x==4:
  print('Yes')
else:
  print('No')

No

In [ ]:
letter = 'A'
if letter == 'B':
  print("Letter is B")
else:
  if letter == 'C':
    print("Letter is C")
  else:
    if letter == 'A':
      print("Letter is A")
    else:
1? .       print("Letter isn't A, B and C")

Letter is A

In [ ]:
letter = 'A'
if letter == 'B':
  print("Letter is B")
elif letter == 'C':
  print("Letter is C")
elif letter == 'A':
  print("Letter is A")
else:
  print("Letter isn't A, B and C")

Letter is A

In [ ]:
user_score = 90
print("Next level") if user_score > 50 else print("Repeat level")

Next level

In [ ]:
# Q1

num = int(input("Enter any number: "))
if num>0:
  print("Positive")
elif num<0:
  print("Negative")
else:
  print("Number is zero")

Enter any number: 43
Positive

In [ ]:
# Q2

num = int(input("Enter any number: "))
if num%2==0:
  print("Even")
else :
  print("Odd")

Enter any number: 34
Even

In [ ]:
# Q3

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if num1>num2:
  print(f"{num1} is greater than {num2}")
else:
  print(f"{num2} is greater than {num1}")

Enter first number: 34
Enter second number: 63
63 is greater than 34

In [ ]:
# Q4

vote_age = int(input("Enter your age: "))
if vote_age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age: 16
You are not eligible to vote

In [ ]:
# Q5

num = int(input("Enter any number: "))
if num%5==0:
  print("Divisible by 5")
else:
  print("Not divisible by 5")

Enter any number: 4
Not divisible by 5

In [ ]:
# Q6

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if num1>num2 and num1>num3:
  print(f"{num1} is greater than {num2} and {num3}")
elif num2>num1 and num2>num3:
  print(f"{num2} is greater than {num1} and {num3}")
else:
  print(f"{num3} is greater than {num1} and {num2}")

Enter first number: 45
Enter second number: 4
Enter third number: 64
64 is greater than 45 and 4

In [ ]:
# Q7

num = int(input("Enter any number: "))
if num%3==0 and num%5==0:
  print("Divisible by 3 and 5")
else:
  print("Not divisible by 3 and 5")

Enter any number: 45
Divisible by 3 and 5

In [ ]:
# Q8

year = int(input("Enter any year: "))
if year%4==0 and year%100!=0:
  print("Leap year")
elif year%400==0:
  print("Leap year")
else:
  print("Not a Leap year")

Enter any year: 2000
Leap year

# 11/09/25

In [ ]:
# Repeated Q1

num = int(input("Enter any number: "))
if num>0:
  print("Positive")
elif num==0:
  print("Zero")
else:
  print("Negative")

Enter any number: 345
Positive

In [ ]:
# Repeated Q2

num = int(input("Enter any number: "))
if num%2==0:
  print("Even")
else:
  print("Odd")

Enter any number: 35
Odd

In [ ]:
# Repeated Q3

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if num1>num2:
  print(f"{num1} is greater than {num2}")
else:
  print(f"{num2} is greater than {num1}")

Enter first number: 345
Enter second number: 25
345 is greater than 25

In [ ]:
# Q9

vowel = ['a', 'e' , 'i', 'o', 'u']
Letter = input("Enter any Letter: ")
if Letter.lower() in vowel:
  print("Vowel")
else:
  print("Consonant")

Enter any Letter: c
Consonant

In [ ]:
# Q10

marks = int(input("Enter your marks: "))
if marks>=90 and marks<=100:
  print("Grade A")
elif marks>=75:
  print("Grade B")
elif marks>=50:
  print("Grade C")
else:
  print("Fail")

Enter your marks: 96
Grade A

In [ ]:
# Q11

units = int(input("Enter number of units: "))
if units<=100 and units>=0:
  charge = 5
elif units<=200 and units>100:
  charge = 7
else:
  charge = 10

print(f"Total bill is {units*charge}")

Enter number of units: 200
Total bill is 1400

# 15/09/25

In [ ]:
# Nothing

# 18/09/25

In [ ]:
# while loop
count=0
while(count<4):
  count=count+1
  print("hello")

hello
hello
hello
hello

In [ ]:
numbers = [7,8,4,3,11,2]
sum=0
for i in numbers:
  sum+=i
print("the sum is ",sum)

the sum is  35

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(range(2,8))

range(2, 8)

In [ ]:
print(list(range(3,20,3)))

[3, 6, 9, 12, 15, 18]

In [ ]:
for i in range (1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(4):
  x=int(input("please enter a number between 1 and 100: "))
  if 1<=x<=100:
    print("valid no",x)
    break
  else:
    print("inblaid number, try again.")

please enter a number between 1 and 100: 12
valid no 12

In [ ]:
game = ["hockey", "football", "badminton"]
for i in range(len(game)):
  print("I like",game[i])

I like hockey
I like football
I like badminton

In [ ]:
# Q1

for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# Q2

for i in range(2,50,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
# Q3

for i in range(1,30,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
# Q4

for i in range(1,16):
  print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

In [ ]:
# Q5

num = int(input("Enter any num: "))
for i in range(1,11):
  print(f"{num} X {i} = {num*i}")

Enter any num: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [ ]:
# Q6

num = int(input("Enter any num: "))
sum = 0
for i in range(1,num+1):
  sum+=i
print(f"Sum of first {num} is {sum}")

Enter any num: 123
Sum of first 123 is 7626

In [ ]:
# Q7

num = int(input("Enter any num: "))
rev = 0
while num>0:
  remain = num%10
  rev = rev*10+remain
  num = num//10
print(rev)

Enter any num: 123
321

In [ ]:
# Q8 (Alternate answer)

num = input("Enter any num: ")
print(int(num[::-1]))

Enter any num: 12345
54321

In [ ]:
# Q8

num = int(input("Enter any num: "))
count = 0
while num>0:
  num = num//10
  count+=1
print(count)

Enter any num: 123
3

In [ ]:
# Q9

while True:
  user = input("Enter your chioce keep/stop: ")
  if user.lower() == 'stop':
    break

Enter your chioce keep/stop: keep
Enter your chioce keep/stop: keep
Enter your chioce keep/stop: keep
Enter your chioce keep/stop: Stop

In [ ]:
# Q10

for i in range(1,101):
  if i%13==0:
    break
  else:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

# 25/09/25

In [ ]:
import sys
sys.stdout.write("Hello Hello can you hear me")

TypeError: OutStream.write() missing 1 required positional argument: 'string'

# 06/10/25

In [ ]:
import array

x = array.array('i' , [2,4,6,8,10])
print(x)
for i in x:
  print(i)

array('i', [2, 4, 6, 8, 10])
2
4
6
8
10

In [ ]:
row = 5

for i in range(1,row):
    print(" "*(5-i), end="")
    print("* "*i)

for j in range(row-1,0,-1):
    print(" "*(row-j), end="")
    print(" *"*(j-1))

    *
   * *
  * * *
 * * * *
  * * *
   * *
    *

In [ ]:
import array

x = array.array('d' , [1.1,2.2,3.3,4.4])
print(x)
x.insert(2,9.5)
print(x)
x.append(4.5)
x.append(6.5)
print(x)

array('d', [1.1, 2.2, 3.3, 4.4])
array('d', [1.1, 2.2, 9.5, 3.3, 4.4])
array('d', [1.1, 2.2, 9.5, 3.3, 4.4, 4.5, 6.5])

In [ ]:
import array

x = array.array('i' , [1,2,3,4,5,6,7,8,4,6,7,9])
print(x)
x.remove(7)
print(x)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 4, 6, 7, 9])
array('i', [1, 2, 3, 4, 5, 6, 8, 4, 6, 7, 9])

In [ ]:
import array

x = array.array('i' , [1,2,3,4,5,7,8,4,6,7,9])

for i in range(len(x)//2):
  x[i], x[-(i+1)] = x[-(i+1)], x[i]
print(x)

array('i', [9, 7, 6, 4, 8, 7, 5, 4, 3, 2, 1])

In [ ]:
import array

x = array.array('i' , [1,2,3,4,5,6,7,8,9,10,11,12,13,14])
print(len(x))
y = len(x)
for i in range(len(x)//2):
  temp = x[i]
  x[i] = x[y-1]
  x[y-1] = temp
  y -=1
print(x)

14
array('i', [14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [ ]:
import array

x = array.array('i' , [1,2,3,4,5,6,7,8,4,6,7,9])

min = x[0]
for i in x:
  if i<min:
    min = i
print(min)

max = x[0]
for i in x:
  if i>max:
    max = i
print(max)

1
9

In [ ]:
import array

x = array.array('i' , [1,2,3,4,5,6,7,8,4,6,7,9])
sum = 0
for i in range(len(x)):
  sum +=x[i]
print(sum)

62

In [ ]:
import array
target = int(input("Enter number to search: "))
flag = 0
x = array.array('i' , [1,2,3,4,5,6,7,8,4,6,7,9])
for i, item in enumerate(x):
  if item == target:
    print(f"Element {item} is found at index {i}")
    flag = 1
if flag == 0:
  print("Element not found")

Enter number to search: 6
Element 6 is found at index 5
Element 6 is found at index 9

In [ ]:
import array
target = int(input("Enter number to search: "))
x = array.array('i' , [1,2,3,4,5,6,7,8,4,6,7,9])
if target in x:
  print(f"Element found at index {x.index(target)}")
else:
  print("Not found")

Enter number to search: 6
Element found at index 5

In [ ]:
colors = ("red", "blue", "green", "yellow")
print(colors[1],colors[-1])

blue yellow

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5)
print(tuple1+tuple2)
tuple3 = (7,8)
print(tuple3*3)

(1, 2, 3, 4, 5)
(7, 8, 7, 8, 7, 8)

In [ ]:
tup = (1,2,(7,8,9))
print(tup[2][1])

8

In [ ]:
tup = (3, 5, 3, 2, 5, 5, 1)
print(f"{min(tup)}")
print(max(tup))

tup.count(5)

1
5

3

# 09/10/25

In [ ]:
while True:
  name = input("Enter your name: ")
  years_worked = float(input("Enter years worked for: "))
  salary = float(input("Enter your salary: "))
  if years_worked > 5:
    salary = salary + (salary*10)/100
  print(f"Current Salary: {salary}")
  choice = input("Do want to continue: ")
  if choice.lower() == "stop":
    break

Enter your name: harsh verma
Enter years worked for: 2
Enter your salary: 10000
Current Salary: 10000.0
Do want to continue: yes
Enter your name: harsh verma
Enter years worked for: 10
Enter your salary: 20000
Current Salary: 22000.0
Do want to continue: stop

In [ ]:
park_slot = 5
vehicle = []
while park_slot!=0:
  incoming_vehicle = input("Enter your vehicle details: ")
  park_slot -=1
  vehicle.append(incoming_vehicle.lower())
  outgoing_vehicle = input("Leave: ")
  if outgoing_vehicle != "0":
    park_slot +=1
    car = input("Which car is going to leave: ")
    if car.lower() in vehicle:
      vehicle.remove(car.lower())
  choice = input("Do you want to continue: ")
  if choice.lower() == "close":
    break
else:
  print("Slot full")
for car_name in vehicle:
  print(car_name.capitalize())

Enter your vehicle details: BMW M3
Leave: 0
Do you want to continue: yes
Enter your vehicle details: Defender
Leave: 0
Do you want to continue: yes
Enter your vehicle details: Buggati Bolide
Leave: 1
Which car is going to leave: Defender
Do you want to continue: close
Bmw m3
Buggati bolide

In [ ]:

row = 5
for i in range(1,row+1):
  for j in range(1,i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
scores = []
count = 0
while True:
  stu_score = int(input("Enter your score: "))
  if stu_score != -1:
    scores.append(stu_score)
    count +=1
  else:
    break
sum = 0
for score in scores:
  if score > 0 :
    sum += score
  else:
    count -=1
print(f"Average of all students score is : {sum/count}")

Enter your score: 50
Enter your score: -20
Enter your score: 25
Enter your score: -1
Average of all students score is : 37.5

In [ ]:
balance = int(input("Enter your balance: "))
withdrawal_amount = int(input("How much money do you want to withdraw: "))
if balance < withdrawal_amount:
  print("Insufficient amount")
elif withdrawal_amount%100 != 0:
  print("Withdrawal is only allowed for multiple of 100")
else:
  balance -= withdrawal_amount
  print("Debitted")
print(f"Current balance: {balance}")

Enter your balance: 10000
How much money do you want to withdraw: 2000
Debitted
Current balance: 8000

In [ ]:
marks = (78,56,89,90,45)
sum = 0
for i in marks:
  sum += i
print(f"Average of marks is {sum/len(marks)}")

Average of marks is 71.6

In [ ]:
t = (10,20,30,40,50)
check = int(input("Enter the number: "))
if check in t:
  print("Yes, it exists in tuple")
else:
  print("Does not exist in tuple")

Enter the number: 10
Yes, it exists in tuple

In [ ]:
t = ((1,2),(3,4),(5,6))
lis = []
sum = 0
for i in t:
  for j in i:
    sum +=j
  lis.append(sum)
  sum =0
print(lis)

[3, 7, 11]

In [ ]:
student_attendance = {}
presents = 0
absents = 0
date = input("Enter Today's date: ")
while True:
  student = input("Enter student name: ")
  attendance = input("Present or Absent: ")
  student_attendance[student] = attendance
  if attendance.lower() == "present" or attendance.lower() == "p":
    presents +=1
  elif attendance.lower() == "absent" or attendance.lower() == "a":
    absents +=1
  choice = input("Do want to continue: ")
  if choice.lower() == "no":
    break

print(f"Total no. of present students : {presents} and absent students : {absents}")
print(student_attendance)
with open("Attendance.txt", "a") as f:
  f.write(date)
  f.write(str(student_attendance))
  f.close()

Enter Today's date: 27/10/25
Enter student name: Darsh
Present or Absent: p
Do want to continue: yes
Enter student name: Harsh
Present or Absent: p
Do want to continue: yes
Enter student name: Swarnim
Present or Absent: p
Do want to continue: yes
Enter student name: Atharvraj
Present or Absent: p
Do want to continue: no
Total no. of present students : 4 and absent students : 0
{'Darsh': 'p', 'Harsh': 'p', 'Swarnim': 'p', 'Atharvraj': 'p'}

#27/10/25

In [ ]:
lis = [1, "Priya", "Lokesh", 30, -4.50, True, 3,14]
print(lis[2:6:2])

['Lokesh', -4.5]

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blueberry"
print(fruits)

fruits.append("mango")
print(fruits)

fruits.remove("cherry")
print(fruits)

['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'mango']
['apple', 'blueberry', 'mango']

In [ ]:
l1 = [1,2,"abc",4,7,True,False,0.5,8,"qwerty"]
l1[2:4] = ["IIST", "IIMR", 78]
print(l1)

[1, 2, 'IIST', 'IIMR', 78, 7, True, False, 0.5, 8, 'qwerty']

In [ ]:
l1 = [234,63,56,3,62,6,2]
l1.sort()
print(l1)

[2, 3, 6, 56, 62, 63, 234]

# 30/10/25

In [ ]:
lis = [5,3,6,2,5,7,3,8,2]
lis.sort()
print(lis)

[2, 2, 3, 3, 5, 5, 6, 7, 8]

In [ ]:
words = ["watermelon", "apple", "banana", "pie"]
words.sort(key = len)
print(words)

['pie', 'apple', 'banana', 'watermelon']

In [ ]:
lis = [2,6,3,7,24,7,3,27]
lis.sort(reverse=True)
print(lis)

[27, 24, 7, 7, 6, 3, 3, 2]

In [ ]:
lis = [2,6,3,7,24,7,3,27]
clone = lis.copy()
clone[0] = 100
print(clone)

[100, 6, 3, 7, 24, 7, 3, 27]

In [ ]:
class Ols :

  def equation(self,x,y):
    x_2 = [i**2 for i in x]
    xy = []
    for i,item in enumerate(x):
      xy.append(x[i]*y[i])
    eq1 = f"{len(x)}x + {sum(x)}y = {sum(y)}"
    eq2 = f"{sum(x)}x + {sum(x_2)}y = {sum(xy)}"
    return eq1, eq2

  def parse(self,eq):
    eq = eq.replace(" ","")
    x, y_c = eq.split("x")
    y, c = y_c.split("y=")
    return int(x), int(y), int(c)

  def solve(self,eq1,eq2):
    x1, y1, c1 = self.parse(eq1)
    x2, y2, c2 = self.parse(eq2)
    factor = x1/x2
    y2_fac = y2*factor
    c2_fac = c2*factor
    y = (c1-c2_fac)/(y1-y2_fac)
    x = (c2 - (y2*y))/x2
    return x,y

if __name__ == "__main__":
  x = [1,2,3,5,6]
  y = [5,6,7,8,9]
  ols = Ols()
  eq1, eq2 = ols.equation(x,y)
  x_value, y_value = ols.solve(eq1,eq2)
  print(f"x = {x_value}")
  print(f"y = {y_value}")

x = 4.43023255813953
y = 0.755813953488373

In [ ]:
x = [1,2,3,5,6]
y = [5,6,7,8,9]
xy = []
for i,item in enumerate(x):
  xy.append(x[i]*y[i])
print(xy)

[5, 12, 21, 40, 54]

In [ ]:
words = ["watermelon", "apple", "banana", "pie"]
for fruits in words:
  print(fruits)

watermelon
apple
banana
pie

In [ ]:
words = ["watermelon", "apple", "banana", "pie"]
index = 0
while index < len(words):
  print(words[index])
  index += 1

watermelon
apple
banana
pie

In [ ]:
list1 = [1, 2]
list2 = ["a", "b"]
print(list1+list2)

[1, 2, 'a', 'b']

In [ ]:
# Q1

n = int(input("Enter number of elements: "))
natural = [int(input("Enter any number: ")) for i in range(n)]
for i in natural:
  print(i)

Enter number of elements: 5
Enter any number: 1
Enter any number: 2
Enter any number: 3
Enter any number: 4
Enter any number: 5
1
2
3
4
5

In [ ]:
# Q2

lis = [2,6,3,7,24,7,3,27]
print(f"maximum element in list is {max(lis)}")
print(f"minimum element in list is {min(lis)}")

maximum element in list is 27
minimum element in list is 2

In [ ]:
# Q3

num = [-10,15,0,20,-5,30,-2]
positive = [x for x in num if x>0]
print(positive)

[15, 20, 30]

In [ ]:
# Q4

nums = [5,2,9,2,5,5]
print(f"The counts of 5 is {nums.count(5)}")
print(f"The index of first 2 is {nums.index(2)}")
nums.reverse()
print(nums)
nums.sort()
print(nums)

The counts of 5 is 3
The index of first 2 is 1
[5, 5, 2, 9, 2, 5]
[2, 2, 5, 5, 5, 9]

In [ ]:
# Q5

lis1 = [1,2,4,6]
lis2 = ["a", "b"]
print(lis1+lis2)
lis1.extend(lis2)
print(lis1)
lis1.append("hello")
print(lis1)

[1, 2, 4, 6, 'a', 'b']
[1, 2, 4, 6, 'a', 'b']
[1, 2, 4, 6, 'a', 'b', 'hello']

In [ ]:
# Q6

lis = [2,46,2,7,3,7,3,64]
if 46 in lis:
  print(True)

True

In [ ]:
# Q7

lis = [2,46,2,7,3,7,3,64]
lis[0], lis[-1] = lis[-1], lis[0]
print(lis)

[64, 46, 2, 7, 3, 7, 3, 2]

In [ ]:
# Q8

a = [ 1,2,3,4,5,6,7,8]
even = [x for x in a if x%2==0]
odd = [x for x in a if x%2!=0]
print(even)
print(odd)

[2, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Q9

a = [ 1,2,3,4,5,6,7,8]
print(a[::-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Q10

sq = [x**2 for x in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Lab-08 - 06/11/25

In [ ]:
sentence = "Python-is-fun"
parts = sentence.split("-")
print(parts)

['Python', 'is', 'fun']

In [ ]:
words = ["I", "love", "Python"]
sentence = " ".join(words)
print(sentence)

I love Python

In [ ]:
words = ["I", "love", "Python"]
sentence = "$".join(words)
print(sentence)

I$love$Python

In [ ]:
numbers = ["1", "2", "3", "4"]
result = map(int, numbers)
print(list(result))
words = ["apple", "banana", "kiwi"]

[1, 2, 3, 4]

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
gcd = 0
if a > b:
  smaller = b
else:
  smaller = a

for i in range(1, smaller + 1):
  if (a%i==0) and (b%i==0):
    gcd = i
print(f"The GCD of {a}, and {b} is: {gcd}")

Enter first number: 10
Enter second number: 5
The GCD of 10, and 5 is: 5

In [ ]:
a = int(input("Enter number: "))
b = int(input("Enter power: "))
print(f"a**b is: {a**b}")

Enter number: 2
Enter power: 3
a**b is: 8

In [ ]:
lis = [1,2,3,6,4,5]
print(f"maximum element is {max(lis)}")

maximum element is 6

In [ ]:
lis = [1,2,3,6,4,5]
a = int(input("Enter number: "))
if a in lis:
  print(f"Element {a} is found at index {lis.index(a)}")
else:
  print("Not found")

Enter number: 6
Element 6 is found at index 3

In [ ]:
lis = [1,2,3,6,4,5]
lis.sort()

a = int(input("Enter number: "))
low = 0
high = len(lis)-1
while low < high:
  mid = (low + high)//2
  if a==lis[mid]:
    print(f"Element {a} is found at index {lis.index(a)}")
    break
  elif a < lis[mid]:
    high = mid-1
  elif a > lis[mid]:
    low = mid+1

Enter number: 5
Element 5 is found at index 4

In [ ]:
a = int(input("Enter number: "))
prime = True
for i in range(2, a+1):
  prime = True
  for j in range(2,i//2+1):
    if i%j==0:
      prime = False
  if prime:
    print(i)
print(prime)

Enter number: 10
2
3
5
7
False

In [ ]:
mat1 = [[1,2,3],[4,5,6],[7,8,9]]
mat2 = [[1,2,3],[4,5,6],[7,8,9]]
sum = 0
res = []
for i in range(len(mat2[0])):
  row = []
  for i in range(len(mat1)):
    sum = 0
    for j in range(len(mat1[0])):
      sum += mat1[i][j]*mat2[j][i]
    row.append(sum)
  res.append(row)
print(res)

[[], [], []]

In [ ]:
import numpy as np

mat1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
mat2 = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(mat1 @ mat2)

[[ 30  36  42]
 [ 66  81  96]
 [102 126 150]]

# Lab-09 - 10/11/25

In [ ]:
student = {1: "Class-X", "name": "Madhav", "age": 20}
for i in student:
  print(student[i])
print(type(student))

Class-X
Madhav
20
<class 'dict'>

In [ ]:
person = {"name": [{"Darsh": 19},{"Harsh": 19},{"Swarnim": 20}]}
print(person)

{'name': [{'Darsh': 19}, {'Harsh': 19}, {'Swarnim': 20}]}

In [ ]:
person["name"][0]["Darsh"]

19

In [ ]:
student = dict([("name", "Madhav"), ("age", 20), ("grade", "A")])
print(student)